src/Feature/SAPService/code/Connected Services/GetAREAandPOLE/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGISDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="latcoordinates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longcoordinates" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGISDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISDetailsZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="latcoordinates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longcoordinates" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGISDetailsZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGISDetailsZoneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGISDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGISDetails" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGISDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetGISDetailsZone" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetGISDetailsZoneResponse" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsHttpGetIn">
    <wsdl:part name="latcoordinates" type="s:string" />
    <wsdl:part name="longcoordinates" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneHttpGetIn">
    <wsdl:part name="latcoordinates" type="s:string" />
    <wsdl:part name="longcoordinates" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsHttpPostIn">
    <wsdl:part name="latcoordinates" type="s:string" />
    <wsdl:part name="longcoordinates" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneHttpPostIn">
    <wsdl:part name="latcoordinates" type="s:string" />
    <wsdl:part name="longcoordinates" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGISDetailsZoneHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetGISDetails">
      <wsdl:input message="tns:GetGISDetailsSoapIn" />
      <wsdl:output message="tns:GetGISDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <wsdl:input message="tns:GetGISDetailsZoneSoapIn" />
      <wsdl:output message="tns:GetGISDetailsZoneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GetGISDetails">
      <wsdl:input message="tns:GetGISDetailsHttpGetIn" />
      <wsdl:output message="tns:GetGISDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <wsdl:input message="tns:GetGISDetailsZoneHttpGetIn" />
      <wsdl:output message="tns:GetGISDetailsZoneHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GetGISDetails">
      <wsdl:input message="tns:GetGISDetailsHttpPostIn" />
      <wsdl:output message="tns:GetGISDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <wsdl:input message="tns:GetGISDetailsZoneHttpPostIn" />
      <wsdl:output message="tns:GetGISDetailsZoneHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGISDetails">
      <soap:operation soapAction="http://tempuri.org/GetGISDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <soap:operation soapAction="http://tempuri.org/GetGISDetailsZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGISDetails">
      <soap12:operation soapAction="http://tempuri.org/GetGISDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <soap12:operation soapAction="http://tempuri.org/GetGISDetailsZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetGISDetails">
      <http:operation location="/GetGISDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <http:operation location="/GetGISDetailsZone" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetGISDetails">
      <http:operation location="/GetGISDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGISDetailsZone">
      <http:operation location="/GetGISDetailsZone" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://iss.adanielectricity.com/gisdevmobile84/gisservices/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://iss.adanielectricity.com/gisdevmobile84/gisservices/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://iss.adanielectricity.com/gisdevmobile84/gisservices/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://iss.adanielectricity.com/gisdevmobile84/gisservices/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>