src/Project/Ports/code/Connected Services/SailedSTSServiceReference/get_sailed_sts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_sailed_sts_data">
        <s:complexType />
      </s:element>
      <s:element name="get_sailed_sts_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_sailed_sts_dataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_sailed_sts_dataSoapIn">
    <wsdl:part name="parameters" element="tns:get_sailed_sts_data" />
  </wsdl:message>
  <wsdl:message name="get_sailed_sts_dataSoapOut">
    <wsdl:part name="parameters" element="tns:get_sailed_sts_dataResponse" />
  </wsdl:message>
  <wsdl:portType name="get_sailed_stsSoap">
    <wsdl:operation name="get_sailed_sts_data">
      <wsdl:input message="tns:get_sailed_sts_dataSoapIn" />
      <wsdl:output message="tns:get_sailed_sts_dataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="get_sailed_stsSoap" type="tns:get_sailed_stsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_sailed_sts_data">
      <soap:operation soapAction="http://tempuri.org/get_sailed_sts_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="get_sailed_stsSoap12" type="tns:get_sailed_stsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_sailed_sts_data">
      <soap12:operation soapAction="http://tempuri.org/get_sailed_sts_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="get_sailed_sts">
    <wsdl:port name="get_sailed_stsSoap" binding="tns:get_sailed_stsSoap">
      <soap:address location="https://adanigroup.com/websrvmport/get_sailed_sts.asmx" />
    </wsdl:port>
    <wsdl:port name="get_sailed_stsSoap12" binding="tns:get_sailed_stsSoap12">
      <soap12:address location="https://adanigroup.com/websrvmport/get_sailed_sts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>