src/Feature/SAPService/code/Connected Services/ChangeOfNameUpdateData/ChnUpdate1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Post_Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationtType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_SRNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CANo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MeterNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Premisetypevalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityDeposit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="COntinueExitingSDvalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME_ORG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TITLEvalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="midlename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workcenter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diffrentbillingaddressvalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentFlatNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentBuildingname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentStreet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentLandmark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentSuberb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PresentPinCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rentedpremaiseValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentOwnername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentLandLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentMobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LandLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillLangvalue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SD_EXISTING_AMOUNT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConsumerRemark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contract" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLICANT_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZFLAG_EBILL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZFLAG_EP_BILL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOUSE_NO_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BUILDING_NAME_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANE_STREET_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LANDMARK_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SUBURB_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PINCODE_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AKLASSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPLICATION_STATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZALTYP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZAPPLBY" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZCITY1_B" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITY_APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CREATED_ON" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REGSRNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TEMPREGSRNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_DataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Post_Document_Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="REGSRNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Z_DOCTYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZDESC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOCUMENTNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOC_CONTENT" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="ZALTYP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOCUMENT_NUMBER" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_Document_DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_Document_DataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Post_DataSoapIn">
    <wsdl:part name="parameters" element="tns:Post_Data" />
  </wsdl:message>
  <wsdl:message name="Post_DataSoapOut">
    <wsdl:part name="parameters" element="tns:Post_DataResponse" />
  </wsdl:message>
  <wsdl:message name="Post_DataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataSoapIn">
    <wsdl:part name="parameters" element="tns:Post_Document_Data" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataSoapOut">
    <wsdl:part name="parameters" element="tns:Post_Document_DataResponse" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="Post_DataHttpGetIn">
    <wsdl:part name="ApplicationtType" type="s:string" />
    <wsdl:part name="LOGIN_SRNO" type="s:string" />
    <wsdl:part name="CANo" type="s:string" />
    <wsdl:part name="MeterNO" type="s:string" />
    <wsdl:part name="Premisetypevalue" type="s:string" />
    <wsdl:part name="SecurityDeposit" type="s:string" />
    <wsdl:part name="COntinueExitingSDvalue" type="s:string" />
    <wsdl:part name="NAME_ORG" type="s:string" />
    <wsdl:part name="TITLEvalue" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="midlename" type="s:string" />
    <wsdl:part name="lastname" type="s:string" />
    <wsdl:part name="workcenter" type="s:string" />
    <wsdl:part name="diffrentbillingaddressvalue" type="s:string" />
    <wsdl:part name="PresentFlatNO" type="s:string" />
    <wsdl:part name="PresentBuildingname" type="s:string" />
    <wsdl:part name="PresentStreet" type="s:string" />
    <wsdl:part name="PresentLandmark" type="s:string" />
    <wsdl:part name="PresentSuberb" type="s:string" />
    <wsdl:part name="PresentPinCode" type="s:string" />
    <wsdl:part name="rentedpremaiseValue" type="s:string" />
    <wsdl:part name="RentOwnername" type="s:string" />
    <wsdl:part name="RentLandLine" type="s:string" />
    <wsdl:part name="RentMobile" type="s:string" />
    <wsdl:part name="RentEmail" type="s:string" />
    <wsdl:part name="Mobile" type="s:string" />
    <wsdl:part name="LandLine" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="BillLangvalue" type="s:string" />
    <wsdl:part name="SD_EXISTING_AMOUNT" type="s:string" />
    <wsdl:part name="ConsumerRemark" type="s:string" />
    <wsdl:part name="Contract" type="s:string" />
    <wsdl:part name="APPLICANT_TYPE" type="s:string" />
    <wsdl:part name="ZFLAG_EBILL" type="s:string" />
    <wsdl:part name="ZFLAG_EP_BILL" type="s:string" />
    <wsdl:part name="HOUSE_NO_APP" type="s:string" />
    <wsdl:part name="BUILDING_NAME_APP" type="s:string" />
    <wsdl:part name="LANE_STREET_APP" type="s:string" />
    <wsdl:part name="LANDMARK_APP" type="s:string" />
    <wsdl:part name="SUBURB_APP" type="s:string" />
    <wsdl:part name="PINCODE_APP" type="s:string" />
    <wsdl:part name="AKLASSE" type="s:string" />
    <wsdl:part name="APPLICATION_STATUS" type="s:string" />
    <wsdl:part name="ZALTYP" type="s:string" />
    <wsdl:part name="ZAPPLBY" type="s:string" />
    <wsdl:part name="ZCITY1_B" type="s:string" />
    <wsdl:part name="CITY_APP" type="s:string" />
    <wsdl:part name="CREATED_ON" type="s:string" />
    <wsdl:part name="REGSRNO" type="s:string" />
    <wsdl:part name="TEMPREGSRNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_DataHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataHttpGetIn">
    <wsdl:part name="REGSRNO" type="s:string" />
    <wsdl:part name="Z_DOCTYPE" type="s:string" />
    <wsdl:part name="ZDESC" type="s:string" />
    <wsdl:part name="DOCUMENTNAME" type="s:string" />
    <wsdl:part name="DOC_CONTENT" type="s1:StringArray" />
    <wsdl:part name="ZALTYP" type="s:string" />
    <wsdl:part name="DOCUMENT_NUMBER" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Post_DataHttpPostIn">
    <wsdl:part name="ApplicationtType" type="s:string" />
    <wsdl:part name="LOGIN_SRNO" type="s:string" />
    <wsdl:part name="CANo" type="s:string" />
    <wsdl:part name="MeterNO" type="s:string" />
    <wsdl:part name="Premisetypevalue" type="s:string" />
    <wsdl:part name="SecurityDeposit" type="s:string" />
    <wsdl:part name="COntinueExitingSDvalue" type="s:string" />
    <wsdl:part name="NAME_ORG" type="s:string" />
    <wsdl:part name="TITLEvalue" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="midlename" type="s:string" />
    <wsdl:part name="lastname" type="s:string" />
    <wsdl:part name="workcenter" type="s:string" />
    <wsdl:part name="diffrentbillingaddressvalue" type="s:string" />
    <wsdl:part name="PresentFlatNO" type="s:string" />
    <wsdl:part name="PresentBuildingname" type="s:string" />
    <wsdl:part name="PresentStreet" type="s:string" />
    <wsdl:part name="PresentLandmark" type="s:string" />
    <wsdl:part name="PresentSuberb" type="s:string" />
    <wsdl:part name="PresentPinCode" type="s:string" />
    <wsdl:part name="rentedpremaiseValue" type="s:string" />
    <wsdl:part name="RentOwnername" type="s:string" />
    <wsdl:part name="RentLandLine" type="s:string" />
    <wsdl:part name="RentMobile" type="s:string" />
    <wsdl:part name="RentEmail" type="s:string" />
    <wsdl:part name="Mobile" type="s:string" />
    <wsdl:part name="LandLine" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="BillLangvalue" type="s:string" />
    <wsdl:part name="SD_EXISTING_AMOUNT" type="s:string" />
    <wsdl:part name="ConsumerRemark" type="s:string" />
    <wsdl:part name="Contract" type="s:string" />
    <wsdl:part name="APPLICANT_TYPE" type="s:string" />
    <wsdl:part name="ZFLAG_EBILL" type="s:string" />
    <wsdl:part name="ZFLAG_EP_BILL" type="s:string" />
    <wsdl:part name="HOUSE_NO_APP" type="s:string" />
    <wsdl:part name="BUILDING_NAME_APP" type="s:string" />
    <wsdl:part name="LANE_STREET_APP" type="s:string" />
    <wsdl:part name="LANDMARK_APP" type="s:string" />
    <wsdl:part name="SUBURB_APP" type="s:string" />
    <wsdl:part name="PINCODE_APP" type="s:string" />
    <wsdl:part name="AKLASSE" type="s:string" />
    <wsdl:part name="APPLICATION_STATUS" type="s:string" />
    <wsdl:part name="ZALTYP" type="s:string" />
    <wsdl:part name="ZAPPLBY" type="s:string" />
    <wsdl:part name="ZCITY1_B" type="s:string" />
    <wsdl:part name="CITY_APP" type="s:string" />
    <wsdl:part name="CREATED_ON" type="s:string" />
    <wsdl:part name="REGSRNO" type="s:string" />
    <wsdl:part name="TEMPREGSRNO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_DataHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataHttpPostIn">
    <wsdl:part name="REGSRNO" type="s:string" />
    <wsdl:part name="Z_DOCTYPE" type="s:string" />
    <wsdl:part name="ZDESC" type="s:string" />
    <wsdl:part name="DOCUMENTNAME" type="s:string" />
    <wsdl:part name="DOC_CONTENT" type="s1:StringArray" />
    <wsdl:part name="ZALTYP" type="s:string" />
    <wsdl:part name="DOCUMENT_NUMBER" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_Document_DataHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="ChnUpdateSoap">
    <wsdl:operation name="Post_Data">
      <wsdl:input message="tns:Post_DataSoapIn" />
      <wsdl:output message="tns:Post_DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <wsdl:input message="tns:Post_Document_DataSoapIn" />
      <wsdl:output message="tns:Post_Document_DataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ChnUpdateHttpGet">
    <wsdl:operation name="Post_Data">
      <wsdl:input message="tns:Post_DataHttpGetIn" />
      <wsdl:output message="tns:Post_DataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <wsdl:input message="tns:Post_Document_DataHttpGetIn" />
      <wsdl:output message="tns:Post_Document_DataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ChnUpdateHttpPost">
    <wsdl:operation name="Post_Data">
      <wsdl:input message="tns:Post_DataHttpPostIn" />
      <wsdl:output message="tns:Post_DataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <wsdl:input message="tns:Post_Document_DataHttpPostIn" />
      <wsdl:output message="tns:Post_Document_DataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChnUpdateSoap" type="tns:ChnUpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Data">
      <soap:operation soapAction="http://tempuri.org/Post_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Post_DataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <soap:operation soapAction="http://tempuri.org/Post_Document_Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Post_Document_DataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChnUpdateSoap12" type="tns:ChnUpdateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Data">
      <soap12:operation soapAction="http://tempuri.org/Post_Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Post_DataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <soap12:operation soapAction="http://tempuri.org/Post_Document_Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Post_Document_DataAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChnUpdateHttpGet" type="tns:ChnUpdateHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Post_Data">
      <http:operation location="/Post_Data" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <http:operation location="/Post_Document_Data" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChnUpdateHttpPost" type="tns:ChnUpdateHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Post_Data">
      <http:operation location="/Post_Data" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post_Document_Data">
      <http:operation location="/Post_Document_Data" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChnUpdate">
    <wsdl:port name="ChnUpdateSoap" binding="tns:ChnUpdateSoap">
      <soap:address location="http://iss.adanielectricity.com/IVRMobileInterface/ChnUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="ChnUpdateSoap12" binding="tns:ChnUpdateSoap12">
      <soap12:address location="http://iss.adanielectricity.com/IVRMobileInterface/ChnUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="ChnUpdateHttpGet" binding="tns:ChnUpdateHttpGet">
      <http:address location="http://iss.adanielectricity.com/IVRMobileInterface/ChnUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="ChnUpdateHttpPost" binding="tns:ChnUpdateHttpPost">
      <http:address location="http://iss.adanielectricity.com/IVRMobileInterface/ChnUpdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>