src/Feature/SAPService/code/Connected Services/FetchComplaintDetails/GetCaseDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCaseDetailsCA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CANUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCaseDetailsCAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCaseDetailsCAResult" type="tns:ArrayOfDataTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataTable" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ArrayOfDataTable" nillable="true" type="tns:ArrayOfDataTable" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCaseDetailsCASoapIn">
    <wsdl:part name="parameters" element="tns:GetCaseDetailsCA" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCASoapOut">
    <wsdl:part name="parameters" element="tns:GetCaseDetailsCAResponse" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCAAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCAHttpGetIn">
    <wsdl:part name="CANUMBER" type="s:string" />
    <wsdl:part name="month" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCAHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDataTable" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCAHttpPostIn">
    <wsdl:part name="CANUMBER" type="s:string" />
    <wsdl:part name="month" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseDetailsCAHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDataTable" />
  </wsdl:message>
  <wsdl:portType name="GetCaseDetailsSoap">
    <wsdl:operation name="GetCaseDetailsCA">
      <wsdl:input message="tns:GetCaseDetailsCASoapIn" />
      <wsdl:output message="tns:GetCaseDetailsCASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetCaseDetailsHttpGet">
    <wsdl:operation name="GetCaseDetailsCA">
      <wsdl:input message="tns:GetCaseDetailsCAHttpGetIn" />
      <wsdl:output message="tns:GetCaseDetailsCAHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetCaseDetailsHttpPost">
    <wsdl:operation name="GetCaseDetailsCA">
      <wsdl:input message="tns:GetCaseDetailsCAHttpPostIn" />
      <wsdl:output message="tns:GetCaseDetailsCAHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCaseDetailsSoap" type="tns:GetCaseDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseDetailsCA">
      <soap:operation soapAction="http://tempuri.org/GetCaseDetailsCA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCaseDetailsCAAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCaseDetailsSoap12" type="tns:GetCaseDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseDetailsCA">
      <soap12:operation soapAction="http://tempuri.org/GetCaseDetailsCA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCaseDetailsCAAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCaseDetailsHttpGet" type="tns:GetCaseDetailsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCaseDetailsCA">
      <http:operation location="/GetCaseDetailsCA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCaseDetailsHttpPost" type="tns:GetCaseDetailsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCaseDetailsCA">
      <http:operation location="/GetCaseDetailsCA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCaseDetails">
    <wsdl:port name="GetCaseDetailsSoap" binding="tns:GetCaseDetailsSoap">
      <soap:address location="https://issdev.adanielectricity.com/ivrmobileinterface/GetCaseDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCaseDetailsSoap12" binding="tns:GetCaseDetailsSoap12">
      <soap12:address location="https://issdev.adanielectricity.com/ivrmobileinterface/GetCaseDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCaseDetailsHttpGet" binding="tns:GetCaseDetailsHttpGet">
      <http:address location="https://issdev.adanielectricity.com/ivrmobileinterface/GetCaseDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCaseDetailsHttpPost" binding="tns:GetCaseDetailsHttpPost">
      <http:address location="https://issdev.adanielectricity.com/ivrmobileinterface/GetCaseDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>