src/Project/Ports/code/Connected Services/EnnoreNewContainerTrackingServiceReference/get_container_tracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_container_tracking_data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eContno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_container_tracking_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_container_tracking_dataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_container_tracking_dataSoapIn">
    <wsdl:part name="parameters" element="tns:get_container_tracking_data" />
  </wsdl:message>
  <wsdl:message name="get_container_tracking_dataSoapOut">
    <wsdl:part name="parameters" element="tns:get_container_tracking_dataResponse" />
  </wsdl:message>
  <wsdl:portType name="get_container_trackingSoap">
    <wsdl:operation name="get_container_tracking_data">
      <wsdl:input message="tns:get_container_tracking_dataSoapIn" />
      <wsdl:output message="tns:get_container_tracking_dataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="get_container_trackingSoap" type="tns:get_container_trackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_container_tracking_data">
      <soap:operation soapAction="http://tempuri.org/get_container_tracking_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="get_container_trackingSoap12" type="tns:get_container_trackingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_container_tracking_data">
      <soap12:operation soapAction="http://tempuri.org/get_container_tracking_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="get_container_tracking">
    <wsdl:port name="get_container_trackingSoap" binding="tns:get_container_trackingSoap">
      <soap:address location="https://adanigroup.com/websrvennore/get_container_tracking.asmx" />
    </wsdl:port>
    <wsdl:port name="get_container_trackingSoap12" binding="tns:get_container_trackingSoap12">
      <soap12:address location="https://adanigroup.com/websrvennore/get_container_tracking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>