src/Feature/SAPService/code/Connected Services/FeedbackReferenceNumber/UpdateFeedBack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Post_feeback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CANUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOURCE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MOBILENO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RATING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="complaintnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="complainttype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_feebackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_feebackResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Post_feebackSoapIn">
    <wsdl:part name="parameters" element="tns:Post_feeback" />
  </wsdl:message>
  <wsdl:message name="Post_feebackSoapOut">
    <wsdl:part name="parameters" element="tns:Post_feebackResponse" />
  </wsdl:message>
  <wsdl:message name="Post_feebackAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="Post_feebackHttpGetIn">
    <wsdl:part name="CANUMBER" type="s:string" />
    <wsdl:part name="SOURCE" type="s:string" />
    <wsdl:part name="MOBILENO" type="s:string" />
    <wsdl:part name="DESCRIPTION" type="s:string" />
    <wsdl:part name="RATING" type="s:string" />
    <wsdl:part name="complaintnumber" type="s:string" />
    <wsdl:part name="complainttype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_feebackHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Post_feebackHttpPostIn">
    <wsdl:part name="CANUMBER" type="s:string" />
    <wsdl:part name="SOURCE" type="s:string" />
    <wsdl:part name="MOBILENO" type="s:string" />
    <wsdl:part name="DESCRIPTION" type="s:string" />
    <wsdl:part name="RATING" type="s:string" />
    <wsdl:part name="complaintnumber" type="s:string" />
    <wsdl:part name="complainttype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_feebackHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="UpdateFeedBackSoap">
    <wsdl:operation name="Post_feeback">
      <wsdl:input message="tns:Post_feebackSoapIn" />
      <wsdl:output message="tns:Post_feebackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdateFeedBackHttpGet">
    <wsdl:operation name="Post_feeback">
      <wsdl:input message="tns:Post_feebackHttpGetIn" />
      <wsdl:output message="tns:Post_feebackHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UpdateFeedBackHttpPost">
    <wsdl:operation name="Post_feeback">
      <wsdl:input message="tns:Post_feebackHttpPostIn" />
      <wsdl:output message="tns:Post_feebackHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateFeedBackSoap" type="tns:UpdateFeedBackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_feeback">
      <soap:operation soapAction="http://tempuri.org/Post_feeback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Post_feebackAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFeedBackSoap12" type="tns:UpdateFeedBackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_feeback">
      <soap12:operation soapAction="http://tempuri.org/Post_feeback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Post_feebackAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFeedBackHttpGet" type="tns:UpdateFeedBackHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Post_feeback">
      <http:operation location="/Post_feeback" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateFeedBackHttpPost" type="tns:UpdateFeedBackHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Post_feeback">
      <http:operation location="/Post_feeback" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateFeedBack">
    <wsdl:port name="UpdateFeedBackSoap" binding="tns:UpdateFeedBackSoap">
      <soap:address location="https://issdev.adanielectricity.com/IVRMobileInterface/UpdateFeedBack.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFeedBackSoap12" binding="tns:UpdateFeedBackSoap12">
      <soap12:address location="https://issdev.adanielectricity.com/IVRMobileInterface/UpdateFeedBack.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFeedBackHttpGet" binding="tns:UpdateFeedBackHttpGet">
      <http:address location="https://issdev.adanielectricity.com/IVRMobileInterface/UpdateFeedBack.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateFeedBackHttpPost" binding="tns:UpdateFeedBackHttpPost">
      <http:address location="https://issdev.adanielectricity.com/IVRMobileInterface/UpdateFeedBack.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>