src/Feature/SAPService/code/Connected Services/GetNoSupplyComplaintStatus/GetComplaintDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FetchComplaintDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strcanumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strcomplaintnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Security_Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchComplaintDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchComplaintDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchComplaintDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchComplaintDetails" />
  </wsdl:message>
  <wsdl:message name="FetchComplaintDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchComplaintDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchComplaintDetailsHttpGetIn">
    <wsdl:part name="strcanumber" type="s:string" />
    <wsdl:part name="strcomplaintnumber" type="s:string" />
    <wsdl:part name="Security_Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchComplaintDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FetchComplaintDetailsHttpPostIn">
    <wsdl:part name="strcanumber" type="s:string" />
    <wsdl:part name="strcomplaintnumber" type="s:string" />
    <wsdl:part name="Security_Key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchComplaintDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GetComplaintDetailsSoap">
    <wsdl:operation name="FetchComplaintDetails">
      <wsdl:input message="tns:FetchComplaintDetailsSoapIn" />
      <wsdl:output message="tns:FetchComplaintDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetComplaintDetailsHttpGet">
    <wsdl:operation name="FetchComplaintDetails">
      <wsdl:input message="tns:FetchComplaintDetailsHttpGetIn" />
      <wsdl:output message="tns:FetchComplaintDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetComplaintDetailsHttpPost">
    <wsdl:operation name="FetchComplaintDetails">
      <wsdl:input message="tns:FetchComplaintDetailsHttpPostIn" />
      <wsdl:output message="tns:FetchComplaintDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetComplaintDetailsSoap" type="tns:GetComplaintDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchComplaintDetails">
      <soap:operation soapAction="http://tempuri.org/FetchComplaintDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetComplaintDetailsSoap12" type="tns:GetComplaintDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchComplaintDetails">
      <soap12:operation soapAction="http://tempuri.org/FetchComplaintDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetComplaintDetailsHttpGet" type="tns:GetComplaintDetailsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FetchComplaintDetails">
      <http:operation location="/FetchComplaintDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetComplaintDetailsHttpPost" type="tns:GetComplaintDetailsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FetchComplaintDetails">
      <http:operation location="/FetchComplaintDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetComplaintDetails">
    <wsdl:port name="GetComplaintDetailsSoap" binding="tns:GetComplaintDetailsSoap">
      <soap:address location="http://iss.adanielectricity.com/IVRMobileInterface/GetComplaintDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetComplaintDetailsSoap12" binding="tns:GetComplaintDetailsSoap12">
      <soap12:address location="http://iss.adanielectricity.com/IVRMobileInterface/GetComplaintDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetComplaintDetailsHttpGet" binding="tns:GetComplaintDetailsHttpGet">
      <http:address location="http://iss.adanielectricity.com/IVRMobileInterface/GetComplaintDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="GetComplaintDetailsHttpPost" binding="tns:GetComplaintDetailsHttpPost">
      <http:address location="http://iss.adanielectricity.com/IVRMobileInterface/GetComplaintDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>