src/Feature/SAPService/code/Connected Services/FeedbackPostService/feedbackUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Post_Feedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Feedback_sr_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Feedback_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OverallExperience" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attitude_Empathy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Process" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attitude_Disatifaction_Reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality_Disatifaction_CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCC_intraction_with" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality_Disatifaction_CCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality_Disatifaction_EMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality_Disatifaction_Digital" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quality_Disatifaction_BackEnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Number_Contacted" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Concerns_addressed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ease_of_register_concerns" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Informed_alternate_digital_channels" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recomandation_scale_Adani_Electricity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Suggetion_improve_value" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valuable_inputs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rate_Adani_Brand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Timeliness_of_our_services" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Safety_practices" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rate_Technology_Equipment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rate_quality_cable_laying" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rate_Responsivenes_Adan_Point_of_Contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Process_Disatifaction_reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_FeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_FeedbackResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Post_FeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:Post_Feedback" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:Post_FeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackHttpGetIn">
    <wsdl:part name="Feedback_sr_no" type="s:string" />
    <wsdl:part name="Feedback_type" type="s:string" />
    <wsdl:part name="OverallExperience" type="s:string" />
    <wsdl:part name="Attitude_Empathy" type="s:string" />
    <wsdl:part name="Quality" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="Attitude_Disatifaction_Reason" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_CC" type="s:string" />
    <wsdl:part name="CCC_intraction_with" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_CCC" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_EMAIL" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_Digital" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_BackEnd" type="s:string" />
    <wsdl:part name="Number_Contacted" type="s:string" />
    <wsdl:part name="Concerns_addressed" type="s:string" />
    <wsdl:part name="Ease_of_register_concerns" type="s:string" />
    <wsdl:part name="Informed_alternate_digital_channels" type="s:string" />
    <wsdl:part name="Recomandation_scale_Adani_Electricity" type="s:string" />
    <wsdl:part name="Suggetion_improve_value" type="s:string" />
    <wsdl:part name="valuable_inputs" type="s:string" />
    <wsdl:part name="Rate_Adani_Brand" type="s:string" />
    <wsdl:part name="Timeliness_of_our_services" type="s:string" />
    <wsdl:part name="Safety_practices" type="s:string" />
    <wsdl:part name="Rate_Technology_Equipment" type="s:string" />
    <wsdl:part name="Rate_quality_cable_laying" type="s:string" />
    <wsdl:part name="Rate_Responsivenes_Adan_Point_of_Contact" type="s:string" />
    <wsdl:part name="Process_Disatifaction_reason" type="s:string" />
    <wsdl:part name="remark" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackHttpPostIn">
    <wsdl:part name="Feedback_sr_no" type="s:string" />
    <wsdl:part name="Feedback_type" type="s:string" />
    <wsdl:part name="OverallExperience" type="s:string" />
    <wsdl:part name="Attitude_Empathy" type="s:string" />
    <wsdl:part name="Quality" type="s:string" />
    <wsdl:part name="Process" type="s:string" />
    <wsdl:part name="Attitude_Disatifaction_Reason" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_CC" type="s:string" />
    <wsdl:part name="CCC_intraction_with" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_CCC" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_EMAIL" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_Digital" type="s:string" />
    <wsdl:part name="Quality_Disatifaction_BackEnd" type="s:string" />
    <wsdl:part name="Number_Contacted" type="s:string" />
    <wsdl:part name="Concerns_addressed" type="s:string" />
    <wsdl:part name="Ease_of_register_concerns" type="s:string" />
    <wsdl:part name="Informed_alternate_digital_channels" type="s:string" />
    <wsdl:part name="Recomandation_scale_Adani_Electricity" type="s:string" />
    <wsdl:part name="Suggetion_improve_value" type="s:string" />
    <wsdl:part name="valuable_inputs" type="s:string" />
    <wsdl:part name="Rate_Adani_Brand" type="s:string" />
    <wsdl:part name="Timeliness_of_our_services" type="s:string" />
    <wsdl:part name="Safety_practices" type="s:string" />
    <wsdl:part name="Rate_Technology_Equipment" type="s:string" />
    <wsdl:part name="Rate_quality_cable_laying" type="s:string" />
    <wsdl:part name="Rate_Responsivenes_Adan_Point_of_Contact" type="s:string" />
    <wsdl:part name="Process_Disatifaction_reason" type="s:string" />
    <wsdl:part name="remark" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Post_FeedbackHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="feedbackUpdateSoap">
    <wsdl:operation name="Post_Feedback">
      <wsdl:input message="tns:Post_FeedbackSoapIn" />
      <wsdl:output message="tns:Post_FeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="feedbackUpdateHttpGet">
    <wsdl:operation name="Post_Feedback">
      <wsdl:input message="tns:Post_FeedbackHttpGetIn" />
      <wsdl:output message="tns:Post_FeedbackHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="feedbackUpdateHttpPost">
    <wsdl:operation name="Post_Feedback">
      <wsdl:input message="tns:Post_FeedbackHttpPostIn" />
      <wsdl:output message="tns:Post_FeedbackHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="feedbackUpdateSoap" type="tns:feedbackUpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Feedback">
      <soap:operation soapAction="http://tempuri.org/Post_Feedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Post_FeedbackAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="feedbackUpdateSoap12" type="tns:feedbackUpdateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Feedback">
      <soap12:operation soapAction="http://tempuri.org/Post_Feedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Post_FeedbackAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="feedbackUpdateHttpGet" type="tns:feedbackUpdateHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Post_Feedback">
      <http:operation location="/Post_Feedback" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="feedbackUpdateHttpPost" type="tns:feedbackUpdateHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Post_Feedback">
      <http:operation location="/Post_Feedback" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="feedbackUpdate">
    <wsdl:port name="feedbackUpdateSoap" binding="tns:feedbackUpdateSoap">
      <soap:address location="https://issdev.adanielectricity.com/IVRMobileInterface/feedbackUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="feedbackUpdateSoap12" binding="tns:feedbackUpdateSoap12">
      <soap12:address location="https://issdev.adanielectricity.com/IVRMobileInterface/feedbackUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="feedbackUpdateHttpGet" binding="tns:feedbackUpdateHttpGet">
      <http:address location="https://issdev.adanielectricity.com/IVRMobileInterface/feedbackUpdate.asmx" />
    </wsdl:port>
    <wsdl:port name="feedbackUpdateHttpPost" binding="tns:feedbackUpdateHttpPost">
      <http:address location="https://issdev.adanielectricity.com/IVRMobileInterface/feedbackUpdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>